/* NAME */

.title {
  padding: 10px 0px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.name .first-name {
  display: inline;
}

.name .last-name {
  display: inline;
}


/* INFO */

.info {
  width: 457px;
  display: inline-block;
  vertical-align: top;
}

.avatar {
  height: 235px;
}

.info .row {
  display: table-row;
}

.info .row .label {
  display: table-cell;
  text-transform: capitalize;
}

.info .row .value {
  display: table-cell;
  padding: 0px 0px 0px 5px;
  text-transform: capitalize;
}

/* EVENTS */

.events {
  width: 743px;
  display: inline-block;
  vertical-align: top;
  padding: 0px 0px 0px 40px;
}

.event .type {
  display: inline;
  text-transform: capitalize;
}

.event .date {
  display: inline;
}

.event .place {
  display: inline;
}

.references {
  display: inline;
  vertical-align: super;
  font-size: 15px;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  font-weight: normal;
  color: blue;
}

a.reference {
  display: inline;
  vertical-align: super;
  font-size: 13px;
}
