body {
  min-width: 100%;
}

.generation {
  border: 3px solid blue;
  padding: 15px;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.placeholder {
  border-width: 0px;
  display: inline-block;
  vertical-align: top;
}

.node {
  border: 3px solid black;
  display: inline-block;
}

.node .person {
  border: 3px solid green;
  display: inline-block;
}

.node .family {
  border: 3px solid green;
  display: inline-block;
}

.node .first-name {
  display: block;
}

.node .last-name {
  display: block;
}
