body {
  margin: 0px;
  padding: 0px;
  position: absolute;
}

.content {
  margin: 0px;
  padding: 20px;
}

/* BANNER */

.banner {
  padding: 0px 0px 0px 0px;
  height: 180px;
  background-color: white;
}

.banner .title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.banner .menu {
  text-align: center;
}

.banner .link {
  display: inline;
}


