body {
  margin: 0px;
  padding: 180px 0px 0px 0px;
  position: absolute;

  min-width: 100%;
  min-height: 100%;
  background-color: white;
}

.content {
  margin: 0px;
  padding: 20px;
}

/* BANNER */

.banner {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 90;
  vertical-align: bottom;
  text-align: left;
}

.banner .banner-content {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  padding-bottom: 15px;
}

.banner .titles {
  flex: 0 1 auto;
  display: inline-block;
}

.banner .title {
  font-size: 35px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  padding-top: 15px;
  padding-left: 60px;
}

.banner .subtitle {
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 60px;
}

.banner .menu {
  flex: 0 1 auto;
  margin-left: 200px;

  white-space: nowrap;
  text-align: left;
  font-size: 17px;
  display: inline-block;
  width: 100%;
}

.menu .link {
  display: inline-block;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 150px;
  text-decoration: none;
}

.banner .languages {
  text-align: right;
  font-size: 14px;
  padding: 5px 100px 5px 0px;
  background-color: #283049;
  color: ghostwhite;
}

.languages .language {
  display: inline;
  padding: 0px 7px;
  text-transform: capitalize;
  width: auto;
}

.info {
  border-radius: 10px;
  background-color: #d7e9ff;
  padding: 5px;
}

a {
  color: ghostwhite;
  margin: 0px;
  padding: 0px;
}

.first-name {
  display: inline;
  text-transform: capitalize;
}

.last-name {
  display: inline;
  text-transform: uppercase;
}
