.table {
  padding: 30px 0px 0px 50px;
}

.table-header {
  display: table-header-group;
}

.header-cell {
  display: table-cell;
  padding-bottom: 5px;
  padding-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.table-body {
  display: table-row-group;
}

.table-row {
  display: table-row;
  color: black;
}

.body-cell {
  display: table-cell;
  padding-right: 10px;
}

.sosa {
  text-align: right;
}
