.table {
}

.table-header {
  display: table-header-group;
  background-color: #283049;
  color: ghostwhite;
}

.header-cell {
  display: table-cell;
  padding: 5px 10px 5px 5px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.table-body {
  display: table-row-group;
}

.table-row {
  display: table-row;
  color: black;
}

.body-cell {
  display: table-cell;
  padding: 0px 10px 0px 5px;
}

.sosa {
  text-align: right;
}

.even {
  background-color: #d7e9ff;
}
