/* NAME */

.full-name {
  padding: 10px 0px 20px 0px;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}

/* INFO */

.biography {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.biography .frame {
  flex: 0 1 auto;
  display: inline-block;
}

.info {
  border-radius: 30px;
  flex: 0 1 auto;
  display: inline-block;

  width: 700px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  padding: 20px;
}

img.avatar {
  border-radius: 40px;
  width: 165px;
  height: 236px;
}

div.avatar {
  border-radius: 40px;
  width: 165px;
  height: 236px;
}

.info .row {
  display: table-row;
}

.info .row .label {
  display: table-cell;
  text-transform: capitalize;
}

.info .row .value {
  display: table-cell;
  padding: 0px 0px 0px 5px;
  text-transform: capitalize;
}

/* EVENTS */

.events {
  display: inline-block;
  vertical-align: top;
  padding: 20px 0px 0px 10px;
}

.event {
  padding: 20px 0px;
}

.event .bullet {
  border-radius: 10px;
  background-color: #283049;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.event .type {
  display: inline;
  text-transform: capitalize;
}

.event .date {
  display: inline;
}

.event .place {
  display: inline;
}

.info .notes {
  padding-top: 10px;
}

.event .notes {
  padding-left: 40px;
}

p {
  padding: 0px;
  margin: 0px;
}

.references {
  display: inline;
  vertical-align: super;
  font-size: 15px;
}

.sources {
  padding-top: 50px;
}

.sources .title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.sources .link {
  display: inline;
}

a.place, a.source {
  display: inline;
}

.source {
  font-size: 15px;
}

a.reference {
  display: inline;
  vertical-align: super;
  font-size: 12px;
}
