/* NAME */

.full-name {
  padding: 10px 0px 20px 0px;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}

.first-name {
  display: inline;
}

.last-name {
  display: inline;
}


/* INFO */

.info {
  width: 457px;
  display: inline-block;
  vertical-align: top;
  color: ghostwhite;
}

.avatar {
  width: 165px;
  height: 235px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid black;
  margin-bottom: 15px;
}

.info .row {
  display: table-row;
}

.info .row .label {
  display: table-cell;
  text-transform: capitalize;
}

.info .row .value {
  display: table-cell;
  padding: 0px 0px 0px 5px;
  text-transform: capitalize;
}

/* EVENTS */

.events {
  width: 743px;
  display: inline-block;
  vertical-align: top;
  padding: 0px 0px 0px 40px;
}

.event .type {
  display: inline;
  text-transform: capitalize;
}

.event .date {
  display: inline;
}

.event .place {
  display: inline;
  color: black;
}

.references {
  display: inline;
  vertical-align: super;
  font-size: 15px;
}

.sources {
  padding-top: 10px;
}

.sources .title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.sources .link {
  display: inline;
}

a.place, a.source {
  color: black;
  display: inline;
}

a.reference {
  display: inline;
  vertical-align: super;
  font-size: 13px;
  color: black;
}
