body {
  text-align: center;
}

.generation {
  border-width: 0px;
  padding: 15px;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  padding: 150px 0px;
}

.placeholder {
  border-width: 0px;
  display: inline-block;
  vertical-align: top;
}

.node {
  border-width: 0px;
  display: inline-block;
  padding: 0px 50px;
  font-size: small;
}

.node .person {
  display: inline-block;
}

.person div.avatar {
  background-color: ghostwhite;
  border: 5px solid midnightblue;
  width: 120px;
  padding: 20px;
  padding-right: 23px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

img.avatar {
  border: 1px solid black;
  width: 120px;
}

.person .info {
  text-align: left;
  position: relative;
  margin-bottom: 3px;
  margin-top: 10px;
  height: 62px;
  color: black;
}

.node .family {
  border-width: 0px;
  display: inline-block;
  vertical-align: top;
  padding: 30px 3px 0px 3px;
}

.node .first-name {
  display: block;
}

.node .last-name {
  display: block;
}

#map {
  border-left: inset slateblue;
  position: fixed;
  top: 39px;
  right: 2px;
  height: 178px;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

a.person {
  text-decoration: none;
}
