body {
  text-align: center;
}

.generation {
  border-width: 0px;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  padding: 100px 15px 200px 15px;
}

.placeholder {
  border-width: 0px;
  display: inline-block;
  vertical-align: top;
}

.node {
  border-radius: 20px;
  display: inline-block;
  margin: 0px 50px;
  font-size: small;
  padding: 0px 10px;
}

.generation .multi {
  border: 1px solid black;
}

.node .person {
  display: inline-block;
}

.person div.frame {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0px;
}

img.avatar {
  border-radius: 20px;
  width: 60px;
}

div.avatar {
  border-radius: 20px;
  background-color: gainsboro;
  width: 60px;
  height: 85.77px;
}

.person .info {
  vertical-align: middle;
  text-align: left;
  position: relative;
  color: black;
  display: inline-block;
  padding: 5px;

  height: 62px;
  min-width: 150px;
}

.node .family {
  border-width: 0px;
  display: inline-block;
  vertical-align: top;
  padding-top: 23px;
  width: 15px;
}

.node .first-name {
  display: block;
}

.node .last-name {
  display: block;
}

#map {
  border: 1px solid black;
  position: fixed;
  top: 25px;
  right: 0px;
  height: 150px;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

a.person {
  text-decoration: none;
}
