<div class="banner">
            <div class="languages">
            <% page.languages.each do |language_option| %>
                <div class="language">
                <% language_text = Translator.translate(language_option, language_option) %>
                <% if language_option == language %>
                    <%=language_text%>
                <% else %>
                    <a class="language" href="../../<%= "#{language_option}/#{page.url}" %>"><%= language_text %></a>
                <% end %>
                </div>
            <% end %>
            </div>
            <div class="banner-content">
                <div class="titles">
                    <div class="title">Armijo Llanos</div>
                    <div class="subtitle"><%= Translator.translate(page.language, 'Family Tree') %></div>
                </div>
                <div class="menu">
                    <a class="link" href="../tree"><%= Translator.translate(language, 'Tree') %></a>
                    <a class="link" href="../list"><%= Translator.translate(language, 'List') %></a>
                </div>
            </div>
        </div>
