<div class="banner">
            <div class="languages">
            <% page.languages.each do |language_option| %>
                <div class="language">
                <% language_text = Translator.translate(language_option, language_option) %>
                <% if language_option == language %>
                    <%=language_text%>
                <% else %>
                    <a href="../../<%= "#{language_option}/#{page.url}" %>"><%= language_text %></a>
                <% end %>
                </div>
            <% end %>
            </div>
            <div class="title">Armijo Llanos</div>
            <div class="subtitle"><%= Translator.translate(page.language, 'Family Tree') %></div>
            <div class="menu">
                <a class="button" href="../tree"><div class="link"><%= Translator.translate(language, 'Tree') %></div></a>
                <a class="button" href="../list"><div class="link"><%= Translator.translate(language, 'List') %></div></a>
            </div>
        </div>
