<% if events.length.positive? %>
<% require_relative 'src/web/section/section_builder' %>
<% require_relative 'src/web/encoder' %>
<div class='events'>
                <% events.each_with_index do |event, index| %>
                    <div class='event'>
                        <div class="bullet" id="<%= index %>">&nbsp;</div>
                        <div class="type"><%= Translator.translate(language, event.tag) %>:</div>
                        <%
                            prefix = event.date.prefix.nil? ? '' : '(' + Translator.translate(language, event.date.prefix) + ')'
                            weekday =  Translator.translate(language, event.date.weekday).capitalize
                            month = Translator.translate(language, event.date.month)
                        %>
                        <div class="date"><%= "#{weekday}, #{event.date.day} #{month} #{event.date.year}" %><%= '&nbsp;' + prefix %></div>
                        <% if !event.place.nil? && !event.place.value.nil? %>
                        <div class="place">
                            <% url = "https://www.google.com/maps/search/?api=1&query=#{Encoder.encode_url(event.place.value)}" %>
                            <a class="place" href="<%= url %>" target="blank"><%= Encoder.encode_html(event.place.value) %></a>
                        </div>
                        <% end %>
                        <%= ReferencesBuilder.build(language, event.references) %>
                        <%= NotesBuilder.build(language, event.notes) %>
                    </div>
                <% end %>

                </div>
<% end %>
