<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

        <% base_dir = '../' * page.url.split(File::SEPARATOR).length %>

        <link rel="stylesheet" href="<%= base_dir %>/css/base.css">
        <% page.styles.each do |style| %>
        <link rel="stylesheet" href="<%= base_dir %>/css/<%= style %>.css">
        <% end %>
        <script src="<%= base_dir %>/js/leader-line.min.js"></script>
        <script src="<%= base_dir %>/js/pagemap.min.js"></script>
        <%
            translated_title = Translator.translate(language, 'Family Tree')
            formatted_title = translated_title.split.map(&:capitalize).join(' ')
        %>
        <title><%= formatted_title %></title>
    </head>
