<% require_relative 'src/web/section/section_builder' %>
<% require_relative 'src/utils/translator' %>
<% language = page.language %>
<!DOCTYPE html>
<html lang="<%= language %>">
    <%= HeaderBuilder.build(language, page.styles) %>
    <body>
        <%= BannerBuilder.build(language) %>
        <div class="content">
            <div class="table">
                <div class="table-header">
                    <div class="header-cell">Sosa</div>
                    <div class="header-cell"><%= Translator.translate(language, 'Last Name') %></div>
                    <div class="header-cell"><%= Translator.translate(language, 'First Name') %></div>
                </div>
                <div class="table-body">
                <% instance.each do |person| %>
                    <a href="../person/<%= person.short_id %>.html" class="table-row">
                        <div class="body-cell sosa"><%= "[#{person.sosa}]" if !person.sosa.nil? %></div>
                        <div class="body-cell last-name"><%= person.last_name %></div>
                        <div class="body-cell first-name"><%= person.first_name %></div>
                    </a>
                <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
