<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello World! Site Title</title>
    </head>
    <body>
        <div class-'info'>
            <% if !person.avatar.nil? %>
            <div><img src="../<%= person.avatar.url %>" /></div>
            <% end %>
            <div class='row'>
                <div class='label'>Name:</div>
                <div class='first-name'><%= person.first_name %></div>
                <div class='last-name'><%= person.last_name %></div>
                <%= self.build_list('references', person.references) %>
            </div>
            <div class='row'>
                <div class='label'>Sosa:</div>
                <div><%= person.sosa %></div>
            </div>
            <div class='row'>
                <div class='label'>Gender:</div>
                <div><%= person.gender %></div>
                <%= self.build_list('references', person.gender.references) %>
            </div>
            <%= self.build_list('notes', person.notes) %>
            <% if !person.parents.nil? %>
            <div class='row'>
                <% if !person.father.nil? %>
                <div class='label'>Father:</div>
                <div class='first-name'><%= person.father.first_name %></div>
                <div class='last-name'><%= person.father.last_name %></div>
                <% end %>
                <% if !person.mother.nil? %>
                <div class='label'>Mother:</div>
                <div class='first-name'><%= person.mother.first_name %></div>
                <div class='last-name'><%= person.mother.last_name %></div>
                <% end %>
                <%= self.build_list('references', person.parents.references) %>
            </div>
            <% end %>
            <%= self.build_list('notes', person.notes) %>
        </div>
        <div class='events'>
            <% person.events.each do |event| %>
                <%= self.build_section('event', event) %>
            <% end %>
        </div>
        <%= self.build_list('sources', person.sources) %>
    </body>
</html>
