<% require_relative 'src/web/section/section_builder' %>
<!DOCTYPE html>
<html lang="en">
    <%= HeaderBuilder.build(page.styles) %>
    <body>
        <%= BannerBuilder.build %>
        <div class="content">
            <div class='full-name'>
                <div class='first-name'><%= page.data.first_name %></div>
                <div class='last-name'><%= page.data.last_name %></div>
                <%= ReferencesBuilder.build(page.data.references) %>
            </div>
            <div class="horizontal-group">
                <div class='info'>
                    <% url = page.data.avatar.nil? ? "img/face.png" : page.data.avatar.url  %>
                    <div><img class="avatar" src="../<%= url %>" /></div>
                    <div class='row'>
                        <div class='label'>Sosa:</div>
                        <div class="value"><%= page.data.sosa %></div>
                    </div>
                    <div class='row'>
                        <div class='label'><%= self.translate(page.data.gender.tag) %>:</div>
                        <div class="value"><%= self.translate(page.data.gender.value) %></div>
                        <%= self.build_list('references', page.data.gender.references) %>
                    </div>
                    <% if !page.data.parents.nil? %>
                    <div class='row'>
                        <% if !page.data.father.nil? && page.data.father.class.name != 'NullPerson' %>
                        <div class='label'><%= self.translate('Father') %>:</div>
                        <div class='name value'>
                            <a href="../ind/<%= page.data.father.short_id %>.html">
                                <div class='first-name'><%= page.data.father.first_name %></div>
                                <div class='last-name'><%= page.data.father.last_name %></div>
                            </a>
                        </div>
                        <% end %>
                    </div>
                    <div class='row'>
                        <% if !page.data.mother.nil? && page.data.mother.class.name != 'NullPerson' %>
                        <div class='label'><%= self.translate('Mother') %>:</div>
                        <div class='name value'>
                            <a href="../ind/<%= page.data.mother.short_id %>.html">
                                <div class='first-name'><%= page.data.mother.first_name %></div>
                                <div class='last-name'><%= page.data.mother.last_name %></div>
                            </a>
                        </div>
                        <% end %>
                    </div>
                    <% end %>
                    <%= self.build_list('notes', page.data.notes) %>
                </div>
                <%= self.build_list('events', page.data.events) %>
            </div>
            <%= self.build_list('sources', page.data.sources) %>
        </div>
        <script>
            window.addEventListener(
                "load",
                function() {
                    "use strict";
                    <%
                    num_events = page.data.events.length
                    if num_events.positive?
                        first = 0
                        last = num_events - 1
                    %>

                    new LeaderLine (
                        document.getElementById('<%= first %>'),
                        document.getElementById('<%= last %>'),
                        {
                            color: "#1c2240",
                            startSocket: "bottom",
                            endSocket: "top",
                            path: "straight",
                            size: 2,
                            startPlug: "behind",
                            endPlug: "behind"
                        }
                    );

                    <% end %>
                }
            );
        </script>
    </body>
</html>
