            <div class='sources'>
                <% records.each do |source| %>
                <div class='source'>
                    <div class="id"><%= source.short_id %></div>
                    <div class="title"><%= source.title %></div>
                    <div class="text">
                    <% source.text.value.each do |line| %>
                        <p><%= line %></p>
                    <% end %>
                    </div>
                    <div class="media"><a href="../src/<%= source.short_id %>.html">[View]</a></div>
                </div>
                <% end %>
            </div>
