<!DOCTYPE html>
<html lang="en">
    <%= self.build_header('..', 'source') %>
    <body>
        <%= self.build_banner %>
        <div class="title"><%= instance.title %></div>
        <div class="text">
        <% instance.text.value.each do |line| %>
            <p><%= line %></p>
        <% end %>
        </div>
        <div class="multimedia">
        <% instance.multimedia.each do |object| %>
            <div class="row">
                <div class="title"><%= object.title %></div>
                <div class="image"><img src="../<%= object.url %>" alt="<%= object.title %>" /></div>
            </div>
        <% end %>
        </div>
    </body>
</html>
