<div class='sources'>
                <div class="title"><%= self.translate('Sources') %>:</div>
                <% records.each do |source| %>
                <a id="<%= source.short_id  %>">
                <div class='source'>
                    [<%= source.short_id %>]: <%= source.title %>. <%= source.text.value.join(', ') %>
                    <div class="link"><a href="../src/<%= source.short_id %>.html">[View]</a></div>
                </div>
                <% end %>
            </div>
