<% if sources.length.positive? %>
<div class='sources'>
                <div class="title"><%= Translator.translate(language, 'Sources') %>:</div>
                <% sources.each do |source| %>
                <div class="source">
                    [<%= source.short_id %>]: <%= source.title %>. <%= source.text.value.join(', ') %>
                    <div class="link"><a href="../../source/<%= source.short_id %>/index.html" class="source">[<%= Translator.translate(language, 'View') %>]</a></div>
                </div>
                <% end %>
            </div>
<% end %>
