<% require_relative 'src/web/section/section_builder' %>
<% require_relative 'src/utils/translator' %>
<% language = page.language %>
<!DOCTYPE html>
<html lang="<%= language %>">
    <%= HeaderBuilder.build(language, page.styles) %>
    <body>
        <%= BannerBuilder.build(language) %>
        <div class="title"><%= instance.title %></div>
        <div class="text">
        <% instance.text.value.each do |line| %>
            <p><%= line %></p>
        <% end %>
        </div>
        <div class="multimedia">
        <% instance.multimedia.each do |object| %>
            <div class="row">
                <div class="title"><%= object.title %></div>
                <div class="image"><img src="../<%= object.url %>" alt="<%= object.title %>" /></div>
            </div>
        <% end %>
        </div>
    </body>
</html>
