<!DOCTYPE html>
<html lang="en">
    <%= self.build_common_section('header') %>
    <body>
        <%= self.build_common_section('banner') %>
        <div class="content">
            <% instance.generations.each do |generation| %>
            <div class='generation'>
                <% generation.nodes.each do |node| %>
                <div class='node'>
                    <div class="id">
                        <%= node.id %>
                    </div>
                <%
                persons = node.respond_to?('persons') ? node.persons : [node]
                persons.each do |person|
                %>
                    <div class="person">
                        <div class="id">
                            <%= person.id %>
                        </div>
                        <div class="first-name">
                            <%= person.first_name %>
                        </div>
                        <div class="last-name">
                            <%= person.last_name %>
                        </div>
                    </div>
                <% end %>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </body>
</html>
