<% require_relative 'src/web/section/section_builder' %>
<% require_relative 'src/utils/translator' %>
<% language = page.language %>
<!DOCTYPE html>
<html lang="<%= language %>">
    <%= HeaderBuilder.build(language, page.styles) %>
    <body>
        <%= BannerBuilder.build(language, page) %>
        <div class="content">
            <% page.data.generations.each_with_index do |generation, generation_number| %>
            <div class='generation'>
                <% generation.nodes.each_with_index do |node, node_number| %>
                    <% if node.class.name == 'Placeholder' %>
                <div class='placeholder' style="width: <%= ((1 + Math.log(node.size) ) ** 2 ) * 200 %>px; ">
                </div>
                    <% else %>
                        <% if generation_number.zero? && node_number == generation.nodes.length / 2 %>
                <div class='node' id='focus' tabindex='0'>
                        <% else %>
                <div class='node'>
                        <% end %>
                        <% node.unions.each_with_index do |link, index| %>
                            <% if index % 2 == 0; person = link %>
                        <a class="person" id="<%= person.id %>" href="../person/<%= person.short_id %>.html">
                            <% url = person.avatar.nil? ? "img/face.png" : person.avatar.url  %>
                            <div class="avatar"><img class="avatar" src="../../<%= url %>" /></div>
                            <div class="info" style="<%= "transform: rotate(#{rand(-6..6)}deg);" %>">
                                <div class="sosa"><%= person.sosa || '&nbsp;' %></div>
                                <div class="first-name"><%= person.first_name || '&nbsp;' %></div>
                                <div class="last-name"><%= person.last_name || '&nbsp;' %></div>
                                <div class="date-range">
                                <% if person.life_range.length == 0 || person.alive? %>
                                &nbsp;
                                <% else %>
                                <%= person.life_range.first.year || '' %> – <%= person.life_range.last.year || '' %>
                                <% end %>
                                </div>
                            </div>
                        </a>
                            <% else; family = link %>
                        <div class="family" id="<%= family.id %>">
                            <img class="family" src="../../img/rings-black.png">
                        </div>
                            <% end %>
                        <% end %>
                </div>
                    <% end %>
                <% end %>
            </div>
            <% end %>
        </div>
        <div class="minimap">
            <canvas id="map"><script src="../../js/minimap.js"></script>
        </div>
        <script>
            window.addEventListener(
                "load",
                function() {
                    "use strict";
                    <%
                    page.data.generations.reverse_each do |generation|
                        gravity = 0
                        generation.nodes.each do |node|
                            next if node.class.name == 'Placeholder'
                            gravity += 20
                            gravity = 0 if gravity > 200

                            node.families.uniq(&:id).each do |family|
                                next if family.class.name == 'NullFamily'
                                gravity += 20
                                gravity = 0 if gravity > 200

                                family.children.each do |child|
                                    next if child.private?
                    %>
                    try {
                    new LeaderLine (
                        document.getElementById('<%= family.id %>'),
                        document.getElementById('<%= child.id %>'),
                        {
                            color: "#1c2240",
                            startSocket: "top",
                            endSocket: "bottom",
                            path: "grid",
                            size: 1,
                            endSocketGravity: <%= gravity %>,
                            startPlug: "square",
                            endPlug: "square"
                        }
                    );
                    } catch(err) {
                        console.log('<%= "Could not connect family #{family.id} to child #{child.id}" %>');
                    }

                    <%
                                end
                            end
                        end
                    end
                    %>

                    document.getElementById('focus').scrollIntoView({behavior: 'smooth', block: 'center', inline: 'center'});
                }
            );
        </script>
    </body>
</html>
