<!DOCTYPE html>
<html lang="en">
    <%= self.build_common_section('header') %>
    <body>
        <%= self.build_common_section('banner') %>
        <div class="content">
            <% instance.generations.each do |generation| %>
            <div class='generation'>
                <% generation.nodes.each do |node| %>
                <div class='node'>
                <% node.persons.each do |person| %>
                    <div>
                    <%= person.id + ': ' + person.first_name + ' ' + person.last_name %>
                    </div>
                <% end %>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </body>
</html>
